.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1cm;
    border: none;
}

.react-calendar__tile {
    border-radius: 8px;
    background-color: #ffffff;
    color: #333;
}

.react-calendar__tile--active,
.react-calendar__tile:hover {
    background-color: #00bcd4; 
}